<!-- Advertisement -->
<% if(config['ad_enable']) { %>
<div class="advertisement">
     <!--Start rollercoin.com code-->
     <a href="https://rollercoin.com/?r=knnujwfp">
      <img src="//rollercoin.com/static/img/referral/banners/ref_72890_cn.gif" alt="promo"/>
  </a>
  <!--End rollercoin.com code-->
</div>

<script>

</script>

<style>
.advertisement{
  height: 100px; 
  background-image: url('<%= config.root + config.ad["source"] %>');
}
</style>
<% }%>